.body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.title {
  padding: 1rem;
  background-color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  width: 100%;
  text-align: center;
}

#youtube {
  margin: 1%;
}
